@model ComandaDigital.Dtos.EstabelecimentoListDto;
@using ComandaDigital.Enums;
@using ComandaDigital.Helpers;
@{
    ViewData["Title"] = "Estabelecimento";
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Estabelecimento</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="tab-content">
                    <h5 class="mt-0 tituloCard"></h5>
                    @if (TempData["ocorreuGravacao"] != null)
                    {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Sucesso</h4>
                            @TempData["ocorreuGravacao"]
                        </div>
                    }
                <table id="tableMateriais" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var estabelecimento in Model.Estabelecimentos)
                    {
                        <tr>
                            <td>@estabelecimento.Nome</td>
                            <td style="text-align:center;"><a href="@Url.Action("Editar", "Estabelecimentos", new { Area = "", id = estabelecimento.Id })">Editar</a></td>
                        </tr>
                    }
                    </tbody>
                </table>
                    <div class="button-items">
                        <div class="form-group">
                            <div>
                                <a class="btn btn-secondary" href="@Url.Action("Index", "Home", new { Area = "" })"><i class="fa fa-backward"></i> VOLTAR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
